<!-- filterValueList: {{filterValueList | json}} <br />
segmentItem: {{ segmentItem.valueList | json }} -->
<div class="item_box" [class.noBorderBottom]="shrink">
  <div class="seg_header">
    <div class="info">
      <span class="icon" nz-icon [nzType]="'holder'" [nzTheme]="'outline'"></span>
      <span class="item_name">{{segmentItem.name}}</span>
      <span class="equal" [hidden]="!selectedValues">=</span>
      <span class="selected_value"><b>{{selectedValues}}</b></span>
    </div>
    <div class="operator">
      <span class="icon" nz-icon
      [nzType]="shrink ? 's:doubleup' : 's:doubledown'" [nzTheme]="'outline'" style="margin-right: 3px;"
      (click)="shrink = !shrink"></span>
      <span style="cursor: pointer;"  nz-icon nzType="close" nzTheme="outline"></span>
    </div>
  </div>
  <div class="seg_body" [hidden]="shrink">
    <p class="path">{{segmentItem.path}}</p>
    <div class="values">
      <div class="search_box">
        <nz-input-group [nzPrefix]="search">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchContent" (ngModelChange)="searchValueList($event)" />
        </nz-input-group>
        <ng-template #search>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="selected_info">
        <span class="clear_all" nz-typography nzType="success" (click)="clearAll()">Clear All</span>
        <span class="count">{{selectedCount}} Selected</span>
      </div>
      <div class="chx_box">
        <div nz-row [nzGutter]="12">
          <div nz-col [nzSpan]="8" *ngFor="let valItem of filterValueList">
            <div class="label_item">
              <label nz-checkbox [(ngModel)]="valItem.checked" (ngModelChange)="valueSelectedChange()">{{valItem.key}}</label>
              <p>{{valItem.value}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
