<div class="tree_line"
  [class.drag_cursor]="nodeItem.type === 'FILE'"
  [appDraggable]="nodeItem.type === 'FILE'"
  [ngStyle]="{ 'padding-left.px': nodeItem.level * 26 }"
  [draggingClass]="'dragging'" [dragData]="nodeItem" (click)="nodeItemClick(nodeItem)">

  <span class="arrow" nz-icon *ngIf="nodeItem.type === 'DIR' && nodeItem.children.length > 0"
    [nzType]="nodeItem.expanded ? 'down' : 'right'" nzTheme="outline"></span>

  <span class="icon" nz-icon [nzType]="nodeItem.type === 'DIR' ? 'folder' : 'holder'"
    [nzTheme]="nodeItem.type === 'DIR' ? 'fill' : 'outline'"></span>

  <span class="icon human_icon" *ngIf="nodeItem.type === 'FILE'" nz-icon [nzType]="'s:people'"></span>
  <span class="leaf_name" [class.bold]="nodeItem.type === 'DIR'">{{ nodeItem.name }}</span>
</div>
<ng-container *ngIf="nodeItem.children && nodeItem.children.length > 0 && nodeItem.expanded">
  <app-tree-item *ngFor="let n of nodeItem.children" [nodeItem]="n"></app-tree-item>
</ng-container>
